asgiref==3.10.0
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
cffi==2.0.0
channels==4.1.0
constantly==23.10.4
cryptography==46.0.2
daphne==4.1.0
distlib==0.3.9
Django==5.2
filelock==3.20.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
platformdirs==4.3.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.13.0
pycparser==2.23
pyOpenSSL==25.3.0
python-dotenv==1.1.1
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.3
termcolor==3.0.1
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
virtualenv==20.30.0
websockets==12.0
wheel==0.45.1
zope.interface==8.0.1
